In [1]:
import pandas as pd
import json

In [2]:
data = pd.read_csv('python hands-on - dataset.csv')

In [3]:
data

         date        sku warehouse_location  quantity
0  2021-01-02  100940478              lagos        23
1  2020-11-09  100940479              lagos        84
2  2021-01-15  100940480                oyo        11
3  2016-11-09  100940481               ogun        98
4  2017-04-04  100940482               ogun        23
5  2018-01-13  100940483               abia         3
6  2021-03-15  100940484             kaduna         7
7  2021-01-11  100940485              abuja         4
8  2021-02-16  100940486               kano         9
9  2019-06-06  100940487            anambra       199

In [4]:
obsolete = pd.DataFrame(['FALSE','TRUE','FALSE','TRUE','TRUE','TRUE','FALSE','FALSE','FALSE','TRUE'])

In [5]:
data.insert(4, 'obsolete', obsolete)

In [6]:
data

         date        sku warehouse_location  quantity obsolete
0  2021-01-02  100940478              lagos        23    FALSE
1  2020-11-09  100940479              lagos        84     TRUE
2  2021-01-15  100940480                oyo        11    FALSE
3  2016-11-09  100940481               ogun        98     TRUE
4  2017-04-04  100940482               ogun        23     TRUE
5  2018-01-13  100940483               abia         3     TRUE
6  2021-03-15  100940484             kaduna         7    FALSE
7  2021-01-11  100940485              abuja         4    FALSE
8  2021-02-16  100940486               kano         9    FALSE
9  2019-06-06  100940487            anambra       199     TRUE

In [7]:
json_data = data.to_json(orient='columns')

In [8]:
print(json_data)

{"date":{"0":"2021-01-02","1":"2020-11-09","2":"2021-01-15","3":"2016-11-09","4":"2017-04-04","5":"2018-01-13","6":"2021-03-15","7":"2021-01-11","8":"2021-02-16","9":"2019-06-06"},"sku":{"0":100940478,"1":100940479,"2":100940480,"3":100940481,"4":100940482,"5":100940483,"6":100940484,"7":100940485,"8":100940486,"9":100940487},"warehouse_location":{"0":"lagos","1":"lagos","2":"oyo","3":"ogun","4":"ogun","5":"abia","6":"kaduna","7":"abuja","8":"kano","9":"anambra"},"quantity":{"0":23,"1":84,"2":11,"3":98,"4":23,"5":3,"6":7,"7":4,"8":9,"9":199},"obsolete":{"0":"FALSE","1":"TRUE","2":"FALSE","3":"TRUE","4":"TRUE","5":"TRUE","6":"FALSE","7":"FALSE","8":"FALSE","9":"TRUE"}}

In [9]:
filename = 'new_json_data'

In [10]:
with open(filename, 'w') as fp:
    json.dump(json_data, fp)